desenvolvimento/ResourceInventory/ResourceInventoryOSPAPI/ResourceInventoryOSPAPI-stubs/src/main/resources/wsdl/OSP/TrackManageResourceProvisioning/XSD/CustomElements.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ce="http://www.cpqd.com.br/etics/customelements" targetNamespace="http://www.cpqd.com.br/etics/customelements">
<xs:complexType name="CustomElements">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="entry" nillable="true" type="ce:entry"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="entry">
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attribute name="key" type="xs:string"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
</xs:schema>